body {
  background-repeat: repeat-x repeat-y; }

p {
  margin-bottom: 1em; }

#top-bar {
  width: 100%;
  height: 8px;
  background: #cd0a0a; }

#wrapper {
  position: relative;
  width: 900px;
  margin: 0 auto; }

header {
  border-bottom: 2px solid #b6b6b6;
  margin-bottom: 25px;
  height: 150px; }
  header .left-split {
    width: 200px;
    position: absolute;
    top: 80px;
    left: 0; }
  header .right-split {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 680px;
    margin-left: 20px; }
    header .right-split span {
      position: absolute;
      left: 0;
      top: 30px; }
    header .right-split h1 a {
      font-size: 18px;
      color: black; }
      header .right-split h1 a:hover {
        color: #cd0a0a; }

#boxcontainer {
  width: 100%;
  height: 50px;
  padding-left: 1px; }

#box {
  float: right;
  width: 50px;
  height: 50px;
  background: #cd0a0a; }
  #box span {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 15px; }

.opaque {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5; }

.navwrap {
  position: absolute;
  top: 0;
  right: 0; }

.navsub {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0; }
  .navsub li {
    background: #cd0a0a;
    display: block;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    float: left;
    width: 100px;
    height: 40px;
    margin-right: 5px; }

.navitem {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  text-align: center; }
  .navitem a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold; }

/* post layout code */
#content {
  width: 900px; }
  #content .blog-post {
    border-bottom: 2px solid #b6b6b6;
    padding-top: 20px;
    padding-bottom: 40px; }
  #content .left-split {
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 20px;
    color: #7a7a7a; }
    #content .left-split #date {
      border-right: 1px solid #b6b6b6;
      float: right;
      padding: 5px 5px 4px 0;
      margin-top: 10px;
      margin-right: 0; }
  #content .right-split {
    float: left;
    width: 680px; }
  #content h1 a {
    color: black;
    font-size: 24px; }
    #content h1 a:hover {
      color: #cd0a0a; }

/********************/
footer {
  margin-top: 20px; }

a {
  color: #cd0a0a;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

::-moz-selection {
  background: #cd0a0a;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #cd0a0a;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #cd0a0a; }

ins {
  background-color: #cd0a0a;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #cd0a0a;
  color: #000;
  font-style: italic;
  font-weight: bold; }

.clear {
  clear: both; }
