body {
  background: #f4f4f4;
  font-family: proxima-nova, sans-serif; }

body#landing {
  background: #434343; }

#landing-upper {
  float: left;
  position: absolute;
  background: #e7e7e7;
  height: 350px;
  width: 100%;
  border-bottom: 4px solid #767676; }

p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1.5em;
  margin: 0 0 12px 0; }

div, body, p, span {
  color: #333333;
  font-size: 15px; }

#top-bar {
  width: 100%;
  height: 6px;
  background: #cd0a0a;
  border-bottom: 3px solid #840606;
  z-index: -1; }

html, body, #wrapper {
  height: 100%; }

#wrapper {
  position: relative;
  width: 985px;
  margin: 0 auto;
  height: auto;
  min-height: 100%; }

header {
  border-bottom: 2px solid #b6b6b6;
  margin-bottom: 25px;
  height: 150px; }
  header .left-split {
    width: 125px;
    position: absolute;
    top: 80px;
    left: 0; }
  header .right-split {
    position: absolute;
    top: 80px;
    left: 125px;
    width: 840px;
    margin-left: 20px;
    height: 50px; }
    header .right-split span {
      position: absolute;
      left: 0;
      top: 30px; }
    header .right-split h1 a {
      color: black;
      position: absolute;
      left: 0;
      top: 5px;
      font-weight: 700;
      font-size: 18px; }
      header .right-split h1 a:hover {
        color: #cd0a0a; }
    header .right-split .icons {
      position: absolute;
      right: 0;
      top: 0; }
      header .right-split .icons ul {
        list-style: none;
        position: relative; }
        header .right-split .icons ul li {
          display: block;
          width: 48px;
          height: 48px;
          margin-left: 10px;
          overflow: hidden;
          cursor: pointer;
          float: left; }
          header .right-split .icons ul li a {
            display: block;
            width: 100%;
            height: 100%; }

.iconcontainer {
  position: relative;
  top: -50px;
  width: 100%;
  height: 100%; }

.github {
  background: url("/img/icons/github.png"); }

.linkedin {
  background: url("/img/icons/linkedin-48x48.png"); }

.twitter {
  background: url("/img/icons/twitter-48x48.png"); }

.googleplus {
  background: url("/img/icons/g-plus-icon-48x48.png"); }

#boxcontainer {
  width: 100%;
  height: 50px;
  padding-left: 1px; }

#box {
  float: right;
  width: 95%;
  height: 50px;
  background: #cd0a0a;
  cursor: pointer;
  border: 3px solid #840606; }
  #box span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 15px; }

.opaque {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5; }

.navwrap {
  position: absolute;
  top: -3px;
  right: 0; }

.navsub {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0; }
  .navsub li {
    background: #cd0a0a;
    display: block;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    float: left;
    width: 100px;
    height: 40px;
    margin-right: 5px;
    border-bottom: 3px solid #840606;
    border-left: 3px solid #840606;
    border-right: 3px solid #840606; }

.navitem {
  width: 100%;
  height: 100%;
  margin-top: 13px;
  text-align: center; }
  .navitem a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold; }

/* post layout code */
#content {
  width: 985px;
  padding-bottom: 200px; }
  #content .blog-post {
    border-bottom: 2px solid #b6b6b6;
    padding-top: 20px;
    padding-bottom: 40px; }
  #content .left-split {
    float: left;
    width: 125px;
    text-align: right;
    padding-right: 20px;
    color: #7a7a7a; }
    #content .left-split .date {
      border-right: 1px solid #b6b6b6;
      font-size: 14px;
      float: right;
      padding: 5px 15px 9px 0;
      margin-top: 10px;
      margin-right: 0; }
  #content .right-split {
    float: left;
    width: 565px;
    margin-right: 25px; }

h1 a {
  color: black;
  font-weight: 300;
  font-size: 36px;
  padding-bottom: 20px;
  display: block; }
  h1 a:hover {
    color: #cd0a0a; }

.left-column {
  float: left;
  width: 735px; }

.right-column {
  float: left;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 30px; }
  .right-column #tweet {
    background: #f5f5f5;
    border: 3px solid #dcdcdc;
    padding: 10px; }
  .right-column .twitterbutton {
    text-align: center; }

article a {
  border-bottom: 1px dotted #cd0a0a; }
  article a:hover {
    color: #cd0a0a;
    background-color: #fdd9d9;
    border-bottom: 1px solid #cd0a0a;
    text-decoration: none; }

/********************
 * Projects page
 */
.projects {
  margin-top: 30px;
  width: 735px; }
  .projects .project {
    margin-right: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc; }
    .projects .project .image {
      float: left;
      width: 250px; }
    .projects .project .description {
      float: left;
      width: 385px;
      padding-left: 15px; }
    .projects .project h1 {
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: 700; }
    .projects .project .tech {
      font-style: italic; }

/** about page ******/
.left-column-about {
  float: left;
  width: 715px;
  padding-right: 20px;
  margin-top: 30px; }
  .left-column-about img {
    float: right;
    margin: 0 20px 0 20px; }
  .left-column-about em {
    font-weight: bold;
    font-style: normal; }

/********************/
footer {
  clear: both;
  z-index: 10;
  position: relative;
  top: -3px;
  height: 200px;
  background: #ccc;
  border-top: 2px solid #999999;
  margin-top: -200px; }
  footer .col1 {
    width: 400px;
    float: left; }
  footer .col2 {
    width: 985px;
    text-align: center; }

#footercontent {
  width: 985px;
  padding-top: 30px;
  margin: 0 auto; }

.landing {
  background: #434343; }
  .landing .landing-top {
    background: #e7e7e7;
    width: 100%;
    height: 350px; }
  .landing #landing-box {
    width: 100%;
    position: absolute;
    top: 220px;
    left: 0;
    background: #434343;
    min-height: 130px;
    border-left: 4px solid #767676;
    border-right: 4px solid #767676;
    border-top: 4px solid #767676;
    padding: 20px; }

a {
  color: #cd0a0a;
  text-decoration: none; }

::-moz-selection {
  background: #cd0a0a;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #cd0a0a;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #cd0a0a; }

ins {
  background-color: #cd0a0a;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #cd0a0a;
  color: #000;
  font-style: italic;
  font-weight: bold; }

.clear {
  clear: both; }

pre {
  white-space: pre-wrap; }
