task :default => :server

task :deploy_staging do
    sh %{rsync -avz --delete --exclude '.git' _site/ magellan:/my/dir/to/staging}
end

task :deploy_live do
    sh %{rsync -avz --delete _site/ magellan:/my/dir/to/live/ --exclude '.git' }
end

task :server do
    sh %x{jekyll --auto --server}
end
