---
layout: meta
---
<body>

  <div id="top-bar"></div>

  <div id="wrapper">

    <header>

      <div class="left-split">
        <div id="boxcontainer">
          <a href="/index.html"><div id="box">
              <span>sjj</span>
          </div></a>
        </div>
      </div>

      <div class="right-split">
        <h1><a href="">Steve Jackson</a></h1>
        <span>Ruby, Rails, Vim, and various other musings</span>

        <div class="icons">
          <ul>
            <li><div class="iconcontainer"><a class="github" href="http://www.github.com/stevejackson"></a></div></li>
            <li><div class="iconcontainer"><a class="linkedin" href="http://www.linkedin.com/in/sjackson7"></a></div></li>
          </ul>
        </div>

      </div>

      <div class="clear"></div>

      <div class="navwrap">
        <ul class='navsub'>
          <li><div class="navitem"><a href="/index.html">Home</a></div></li>
          <li><div class="navitem"><a href="/blog.html">Blog</a></div></li>
          <li><div class="navitem"><a href="/projects.html">Projects</a></div></li>
          <li><div class="navitem"><a href="/about.html">About</a></div></li>
        </ul>
      </div>
    </header>

    <section id='content'>

      {{ content }}

    </section>
  </div>


  <footer>
    <div id="footercontent">
      <div class="col1">

      </div>
      <div class="col2">
        <p><small>Design and content by Steve Jackson. Want to check out the code to this site? <a href="http://github.com/stevejackson/sjackson.net">Go for it.</a></small></p>
      </div>
    </div>
  </footer>
</div>
