---
layout: default
---
<div class="left-column">

  <div class="blog-post">
    <div class="left-split">
      <div class="date"> {{ page.date | date_to_string }} </div>
    </div>

    <div class="right-split">
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <article>
        {{ content }}
      </article>
    </div>

    <div class="clear"></div>
  </div>

</div>

<div class="right-column">
  <div id="tweet">
    <div class="twitterbutton"><a href="/blog-archive.html">Blog archive</a></div><br/>
    <div class="twitterbutton"><a href="http://www.twitter.com/_sjackson"><img src="http://twitter-badges.s3.amazonaws.com/follow_me-a.png" alt="Follow _sjackson on Twitter"/></a></div><br/>
  </div>
</div>

<div class="clear"></div>
