<div class="hero_area">
  <div class="hero_child name">
    Steven Jackson
  </div>

  <div class="hero_child slogan">
    Full stack web developer
  </div>

  <div class="hero_child skills">
    <span class="ruby">Ruby/Rails</span>
    <span class="and">&nbsp;+&nbsp;</span>
    <span class="javascript">JS/React</span>
    <span class="and">&nbsp;+&nbsp;</span>
    <span class="ubuntu">Ubuntu Server</span>
    <span class="and">&nbsp;+&nbsp;</span>
    <span class="ansible">Ansible</span>
  </div>
</div>
