<nav>
  <div class="nav-item">
    <a href="#">Projects</a>
  </div>

  <div class="nav-item">
    <a href="#">Blog</a>
  </div>

  <div class="nav-item">
    <a href="https://www.github.com/stevejackson">Github</a>
  </div>

  <div class="nav-item">
    <a href="mailto:steve@sjackson.net">Contact me</a>
  </div>
</nav>
