---
title: Steven Jackson
---

<div class="container">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-half">
      <%= partial 'navbar' %>
    </div>
    <div class="column"></div>
  </div>
</div>

<div class="container">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-half">
      <%= partial 'hero' %>
    </div>
    <div class="column"></div>
  </div>
</div>
